<!doctype html>
<html>
<head>
  <title>Memorize Poetry</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
  <div id='content' v-on:click="nextStep">
    <div class='menu'>
      <div class='menu-item' 
        v-on:click="showMenu" 
        v-bind:class="{ selected: contentType == 'menu' }">
        Menu
      </div>
      <div class='menu-item' 
        v-on:click='byLine' 
        v-bind:class="{ selected: contentType == 'poem' && stepCategory == 'line' }">
        Line
      </div>
      <div class='menu-item' 
        v-on:click='byStanza' 
        v-bind:class="{ selected: contentType == 'poem' && stepCategory == 'stanza' }">
        Stanza
      </div>
      <div class='menu-item' 
        v-on:click='byPoem' 
        v-bind:class="{ selected: contentType == 'poem' && stepCategory == 'poem' }">
        Poem
      </div>
    </div>
    <div class='poem' v-if="contentType == 'poem'">
      <h1 v-html="title"></h1>
      <h2>by <span v-html="author"></span></h2>
      <p v-if="step == 0 && stepCategory != 'poem'" class='newStanza'>
        <em>Tap to see next {{stepCategory}}.</em>
      </p>
      <div v-else v-for="line in poem">
        <p v-bind:class="{ 
          hidden: 
            (stepCategory == 'line' && step < line.line) 
            || (stepCategory == 'stanza' && step < line.stanza), 
          newStanza: line.startOfStanza == true}">
          <span v-html="line.text" 
            v-bind:class="{
            highlight:
              (stepCategory == 'line' && step == line.line) 
              || (stepCategory == 'stanza' && line.stanza == step)}">
          </span>
        </p>
      </div>
    </div>
    <div v-else>
      <ul v-for="entry in menu">
        <li><a :href="entry.path"><span v-html="entry.name"></span></a></li>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="js/poems.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
